<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1147679ae7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Ivy-Project</title>
</head>

<body>
    <!-- -----------------header------------------- -->
    <header>
        <div class="logo">
            <img src="images/logo.png">
        </div>
        <div class="menu">
            <li><a href="">NỮ</a>
                <ul class="sub-menu">
                    <li><a href="">Hàng mới về</a></li>
                    <li><a href="">Collection</a></li>
                    <li><a href="">Áo</a>
                        <ul>
                            <li><a href="">Áo sơ mi</a></li>
                            <li><a href="">Áo thun</a></li>
                            <li><a href="">Áo vest</a></li>
                            <li><a href="">Áo khoác</a></li>
                            <li><a href="">Áo len</a></li>
                        </ul>
                    </li>
                    <li><a href="">Quần</a>
                        <ul>
                            <li><a href="">Quần jean</a></li>
                            <li><a href="">Quần lửng</a></li>
                            <li><a href="">Quần dài</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="">NAM</a></li>
            <li><a href="">TRẺ EM</a></li>
            <li><a href="">SALE</a></li>
            <li><a href="">KHẨU TRANG</a></li>
            <li><a href="">BST</a></li>
            <li><a href="">THÔNG TIN</a></li>
        </div>
        <div class="others">
            <li><input placeholder="Tìm kiếm" type="text"> <i class="fas fa-search"></i></li>
            <li><a class="fa fa-paw" href=""></a></li>
            <li><a class="fa fa-user" href=""></a></li>
            <li><a class="fa fa-shopping-bag" href=""></a></li>
        </div>
    </header>
    <!-- -----------------productDetails------------------- -->
    <section class="product">
        <div class="container">
            <div class="product-top row">
                <p>Trang chủ</p> <span>&#10230; </span>
                <p>Nữ</p> <span>&#10230; </span>
                <p>Hàng mới về</p> <span>&#10230; </span>
                <p>Áo sơ mi</p>
            </div>
            <div class="product-content row">
                <div class="product-content-left row">
                    <div class="product-content-left-big-img">
                        <img src="images/sp1.1.jpg" alt="">
                    </div>
                    <div class="product-content-left-small-img">
                        <img src="images/sp1.1.jpg" alt="">
                        <img src="images/sp1.2.jpg" alt="">
                        <img src="images/sp1.3.jpg" alt="">
                        <img src="images/sp1.4.jpg" alt="">
                    </div>
                </div>
                <div class="product-content-right">
                    <div class="product-content-right-product-name">
                        <h1>Signature Tee - Áo thun IVY moda</h1>
                        <p>SKU: 57T0276</p>
                    </div>
                    <div class="product-content-right-product-price">
                        <p>295.000<sup>đ</sup></p>
                    </div>
                    <div class="product-content-right-product-color">
                        <p><span style="font-weight: bold;">Màu sắc</span>: Trắng <span style="color:red"></span></p>
                        <div class="product-content-right-product-color-img">
                            <img src="images/spcolor.png" alt="">
                        </div>
                    </div>
                    <div class="product-content-right-product-size">
                        <p style="font-weight: bold;">Size:</p>
                        <div class="size">
                            <span>S</span>
                            <span>M</span>
                            <span>L</span>
                            <span>XL</span>
                            <span>XXL</span>
                        </div>
                    </div>
                    <div class="quantity">
                        <p style="font-weight: bold;">Số lượng:</p>
                        <input type="number" min="0" value="1">
                    </div>
                    <p style="color: red;">Vui lòng chọn size*</p>

                    <div class="product-content-right-product-button">
                        <button><i class="fas fa-shopping-cart">MUA HÀNG</i></button>
                        <button>
                            <p>TÌM TẠI CỬA HÀNG</p>
                        </button>
                    </div>
                    <div class="product-content-right-product-icon">
                        <div class="product-content-right-product-icon-item">
                            <i class="fas fa-phone-alt"></i>
                            <p>Hotline</p>
                        </div>
                        <div class="product-content-right-product-icon-item">
                            <i class="far fa-comments"></i>
                            <p>Chat</p>
                        </div>
                        <div class="product-content-right-product-icon-item">
                            <i class="far fa-envelope"></i>
                            <p>Mail</p>
                        </div>
                    </div>
                    <div class="product-content-right-product-QR">
                        <img src="images/qrcode.png" alt="">
                    </div>
                    <div class="product-content-right-bottom">
                        <div class="product-content-right-bottom-top">
                            &#8744;
                        </div>
                        <div class="product-content-right-bottom-content-big">
                            <div class="product-content-right-bottom-content-title row">
                                <div class="product-content-right-bottom-content-title-item chitiet">
                                    <p>Chi tiết</p>
                                </div>
                                <div class="product-content-right-bottom-content-title-item baoquan">
                                    <p>Bảo quản</p>
                                </div>
                                <div class="product-content-right-bottom-content-title-item">
                                    <p>Tham khảo size</p>
                                </div>
                            </div>
                            <div class="product-content-right-bottom-content">
                                <div class="product-content-right-bottom-content-chitiet">
                                    Sở hữu phom suông thanh thoát kết hợp cùng thiết kế cạp cao tôn dáng, Classic IVY
                                    Pants là lựa chọn hoàn hảo cho những cô nàng yêu thích phong cách tối giản nhưng vẫn
                                    đầy cuốn hút. Đường ly phía trước giúp tạo hiệu ứng chân dài hơn, đồng thời mang lại
                                    sự chỉn chu cần có cho môi trường công sở hoặc những dịp trang trọng. <br><br>

                                    Chất liệu Tuytsi cao cấp mềm mại, đứng phom, ít nhăn. Dễ phối với áo sơ mi, áo
                                    blouse hay áo thun, mẫu quần này là item “must-have” cho tủ đồ hiện đại và tinh tế.
                                    <br><br>
                                </div>
                                <div class="product-content-right-bottom-content-baoquan">
                                    Chi tiết bảo quản sản phẩm : <br><br>

                                    * Các sản phẩm thuộc dòng cao cấp (Senora) và áo khoác (dạ, tweed, lông, phao) chỉ
                                    giặt khô, tuyệt đối không giặt ướt. <br><br>

                                    * Vải dệt kim: sau khi giặt sản phẩm phải được phơi ngang tránh bai giãn. <br><br>

                                    * Vải voan, lụa, chiffon nên giặt bằng tay. <br><br>

                                    * Vải thô, tuytsi, kaki không có phối hay trang trí đá cườm thì có thể giặt máy.
                                    <br><br>

                                    * Vải thô, tuytsi, kaki có phối màu tương phản hay trang trí voan, lụa, đá cườm thì
                                    cần giặt tay. <br><br>

                                    * Đồ Jeans nên hạn chế giặt bằng máy giặt vì sẽ làm phai màu jeans. Nếu giặt thì nên
                                    lộn trái sản phẩm khi giặt, đóng khuy, kéo khóa, không nên giặt chung cùng đồ sáng
                                    màu, tránh dính màu vào các sản phẩm khác. <br><br>

                                    * Các sản phẩm cần được giặt ngay không ngâm tránh bị loang màu, phân biệt màu và
                                    loại vải để tránh trường hợp vải phai. Không nên giặt sản phẩm với xà phòng có chất
                                    tẩy mạnh, nên giặt cùng xà phòng pha loãng. <br><br>

                                    * Các sản phẩm có thể giặt bằng máy thì chỉ nên để chế độ giặt nhẹ, vắt mức trung
                                    bình và nên phân các loại sản phẩm cùng màu và cùng loại vải khi giặt. <br><br>

                                    * Nên phơi sản phẩm tại chỗ thoáng mát, tránh ánh nắng trực tiếp sẽ dễ bị phai bạc
                                    màu, nên làm khô quần áo bằng cách phơi ở những điểm gió sẽ giữ màu vải tốt hơn.
                                    <br><br>

                                    * Những chất vải 100% cotton, không nên phơi sản phẩm bằng mắc áo mà nên vắt ngang
                                    sản phẩm lên dây phơi để tránh tình trạng rạn vải. <br><br>

                                    * Khi ủi sản phẩm bằng bàn là và sử dụng chế độ hơi nước sẽ làm cho sản phẩm dễ ủi
                                    phẳng, mát và không bị cháy, giữ màu sản phẩm được đẹp và bền lâu hơn. Nhiệt độ của
                                    bàn là tùy theo từng loại vải. <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- -----------------productRelated------------------- -->
    <section class="product-related container">
        <div class="product-related-title">
            <p>SẢN PHẨM LIÊN QUAN</p>
        </div>
        <div class="product-content row">
            <div class="product-related-item">
                <img src="images/sp2.jpg" alt="">
                <h1>Classic IVY Pants - Quần dài ống suông</h1>
                <p>595.000<sup>đ</sup></p>
            </div>
            <div class="product-related-item">
                <img src="images/sp3.jpg" alt="">
                <h1>Classic IVY Pants - Quần dài ống suông</h1>
                <p>595.000<sup>đ</sup></p>
            </div>
            <div class="product-related-item">
                <img src="images/sp4.jpg" alt="">
                <h1>Classic IVY Pants - Quần dài ống suông</h1>
                <p>595.000<sup>đ</sup></p>
            </div>
            <div class="product-related-item">
                <img src="images/sp5.jpg" alt="">
                <h1>Classic IVY Pants - Quần dài ống suông</h1>
                <p>595.000<sup>đ</sup></p>
            </div>
            <div class="product-related-item">
                <img src="images/sp6.jpg" alt="">
                <h1>Classic IVY Pants - Quần dài ống suông</h1>
                <p>595.000<sup>đ</sup></p>
            </div>
        </div>
    </section>
    <!-- -----------------app-container------------------- -->
    <section class="app-container">
        <p>Tải ứng dụng IVY moda</p>
        <div class="app-google">
            <img src="images/appstore.png">
            <img src="images/googleplay.png">
        </div>
        <p>Nhận bản tin IVY moda</p>
        <input type="text" placeholder="Nhập email của bạn...">
    </section>

    <!-- -----------------footer------------------- -->
    <div class="footer-top">
        <li><a href=""><img src="images/img-congthuong.png"></a></li>
        <li><a href=""></a>Liên hệ</li>
        <li><a href=""></a>Tuyển dụng</li>
        <li><a href=""></a>Giới thiệu</li>
        <li>
            <a href="" class="fab fa-facebook-f"></a>
            <a href="" class="fab fa-twitter"></a>
            <a href="" class="fab fa-youtube"></a>
        </li>
    </div>
    <div class="footer-center">
        <p>Công ty Cổ phần Đức Kim với số đăng ký kinh doanh: 015777650 <br>
            Địa chỉ: Tòa nhà Tháp, P.Đại Mỗ, Q.Nam Từ Liêm, TP.Hà Nội, Việt Nam - 0243 205 2222 <br>
            Đặt hàng online: <b>0246 662 3434</b> .
        </p>
    </div>
    <div class="footer-bottom">
        ©IVYmoda All rights reserved
    </div>
</body>
<script src="js/script.js"></script>

</html>